---
layout: base
---
<!-- Banner -->
<div class="jumbotron">

	{% assign signup = site.signups_open|downcase %}
	<div class="container text-center">
		<div class="moocie col-md-5 col-sm-5">
			<img src="{{site.baseurl}}{{site.img}}mooce-direction.jpg" alt="Mooc-e robot" class="hidden-xs" />
			<img src="{{site.baseurl}}{{site.img}}moocie-mobile.jpg" alt="Mooc-e robot" class="hidden-sm hidden-md hidden-lg"/>
		</div>
		<div class="present col-md-7 col-sm-7 pull-right">
			<header>
				<h3>Learn programming</h3>
				<h1 class="heading">{{ site.data.course.description }}</h1>
				<h4>Self-paced beginner level course teaching computer programming</h4>
				{% if signup == 'yes' %}
				<h2>Start by going through materials</h2>
				{% endif %}
				<img class="free-stamp" src="{{site.baseurl}}{{site.img}}free-stamp.png" alt="Free of charge" />
			</header>
		</div>
	</div>
	<div class="signup" id="signup">
		<div class="container">
			<div class="logo col-md-4 col-sm-4 hidden-xs" {% if signup == 'no' %}style="padding: 25px 0"{% endif %}>
				<img src="{{ site.baseurl }}{{ site.img }}gitp-logo-large-white.png" alt="Course Logo" />
			</div>
			{% if signup == 'yes' %}
			<!-- Begin MailChimp Signup Form -->
			<div id="mc_embed_signup" class="col-md-8 col-sm-8">
				<form action="//p2pu.us10.list-manage.com/subscribe/post?u=76f4343639188fd7f1bdd0165&amp;id=fb9a647402" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<div id="mc_embed_signup_scroll">
						<div class="signup-form-wrap">
							<div class="signup-title">From time to time we run facilitated versions of the course, if you
								would like us to let you know when we do, please sign up:
							</div>
							<div class="row">
								<div class="mc-field-group form-group col-md-6">
									<label for="mce-FNAME">First Name </label> <input type="text" value="" name="FNAME"
									                                                  class="form-control" id="mce-FNAME">
								</div>
								<div class="mc-field-group form-group col-md-6">
									<label for="mce-LNAME">Last Name </label> <input type="text" value="" name="LNAME"
									                                                 class="form-control" id="mce-LNAME">
								</div>
							</div>

							<div class="mc-field-group form-group">
								<label for="mce-EMAIL">Email Address <span class="asterisk">*</span> </label> <input
									type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
							</div>
							<div class="indicates-required">
								<span class="asterisk">*</span> indicates required
							</div>
							<div class="clear">
								<input type="submit" value="Sign me up" name="subscribe" id="mc-embedded-subscribe"
								       class="button btn btn-info">
							</div>
						</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>
						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<div style="position: absolute; left: -5000px;">
							<input type="text" name="b_76f4343639188fd7f1bdd0165_fb9a647402" tabindex="-1" value="">
						</div>

					</div>
				</form>
			</div>
			<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
			<!--End mc_embed_signup-->
			{% else %}
				<p>
					<br /><br /><br />
					We are already learning, but you can always catch up with everyone on our <a
						href="http://discourse.p2pu.org/c/gentle-introduction-to-python" target="_blank">discussion forums</a> and catch up on the learning materials in the
					<a href="{{ site.baseurl }}/modules/materials/week_1/">topics</a> section of this course.
				</p>
				<p>
				Join us any time!
				</p>
			{% endif %}
		</div>
	</div>
</div>
<section id="map" class="light-section">
	<div class="container">
		<h1 class="text-center">Course participants around the world</h1>
	</div>

		<iframe frameborder="0" style="width:100%;height:600px"
		        src="//www.zeemaps.com/pub?group=1382444&search=1&shuttered=1&topbar=1&x=15.000000&y=46.000000&z=15"></iframe>


</section>
<section class="faq">
	<div class="container">
		<div class="clearfix">
			<div class="col-md-8 col-md-offset-2">
				<div class="row">
					<div class="faq-icon col-md-4 col-sm-4 col-xs-4">
						<img src="{{site.baseurl}}{{site.img}}clock.png" alt="Clock" />
					</div>

					<div class="faq-q col-md-8 col-sm-8">
						<h2>When does it start?</h2>

						<p>The course will start on the {{ site.course_start }}. If time permits join us then, but if that is not the case, don't fret. The course is built in a way that it can be taken at any time, at your own pace.  If you can start when we start, you'll just have plenty of fellow-travelers to help you if you get stumped!</p>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="faq-icon right-align col-md-4 col-sm-4 col-xs-4">
						<img src="{{site.baseurl}}{{site.img}}calendar.png" alt="Calendar" />
					</div>
					<div class="faq-q col-md-8 col-sm-8">
						<h2>How long will it take?</h2>

						<p>The class will last for six weeks. However if you want, you can always slow down or speed up. The materials are there to be used and you can use them however you want.</p>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="faq-icon col-md-4 col-sm-4 col-xs-4">
						<img src="{{site.baseurl}}{{site.img}}chat.png" alt="Clock" />
					</div>
					<div class="faq-q col-md-8">
						<h2>How will this all go down?</h2>

						<p>Every week there will be an email fired your way, to introduce the materials for the week and gently remind you to work and collaborate with others in the community.</p>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="faq-icon right-align col-md-4 col-sm-4 col-xs-4">
						<img src="{{site.baseurl}}{{site.img}}offer.png" alt="Calendar" />
					</div>
					<div class="faq-q col-md-8 col-sm-8">
						<h2>What will I learn?</h2>

						<p>You will learn the basic use of setting up a Python environment and get to know building blocks of programing, such as data structures, functions, classes, and more. In the end we will build a nice little project, which will tie all the pieces together.
						</p>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="faq-icon col-md-4 col-sm-4 col-xs-4">
						<img src="{{site.baseurl}}{{site.img}}user.png" alt="Clock" />
					</div>

					<div class="faq-q col-md-8 col-sm-8">
						<h2>Can I do it?</h2>

						<p>Why not? This course is aimed at complete beginners. In fact, you will probably meet people who will need your help during this course. All you need is a computer, internet access, and a thirst for knowledge. Be brave!</p>
					</div>
				</div>

				<hr />
				<div class="row">
					<div class="faq-icon right-align col-md-4 col-sm-4 col-xs-4">
						<img src="{{site.baseurl}}{{site.img}}love.png" alt="Calendar" />
					</div>
					<div class="faq-q col-md-8 col-sm-8">
						<h2>Why should I?</h2>

						<p>Why should you not? Coding is the new black, so it doesn't hurt to know what all the fuss is truly about. In the end, you will see, it is a lot of fun. And who knows, maybe this is a first step towards a new beginning for you.</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<section>
	<div class="container text-center">
		<a href="#signup" class="btn btn-info btn-lg">
			Sign me up for free
		</a>
	</div>
</section>



