<footer class="p2pu-footer">

	<div class="container">

		<ul class="footer-social clearfix">
			<li><a target="_blank" href="http://discourse.p2pu.org/c/gentle-introduction-to-python"><i class="fa fa-weixin"></i></a>
			</li>
			<li><a target="_blank" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fhowto.p2pu.org&text=Create%20engaged%20learning%20communities%20that%20lasts&hashtags=courseinabox&via=p2pu&related=p2pu"><i class="fa fa-twitter"></i></a>
			</li>
			<li>
				<a target="_blank" href="https://www.facebook.com/P2PUniversity">
					<i class="fa fa-facebook"></i>
				</a>
			</li>
		</ul>

		<hr>
		<div class="col-md-3 first">
			<h4>What is P2PU?</h4>
			<p>
				The Peer 2 Peer University is a grassroots open education organization that organizes learning
				outside of institutional walls. We are creating a model for lifelong learning alongside traditional formal higher education.
			</p>
		</div>
		<div class="col-md-4 first">
			<h4>Attributions</h4>
			<ul class="footer-links">
				<li>
					<i class="fa fa-angle-right "></i>
					Mooc-e is a creation of a great american artist <a href="https://www.facebook.com/profile.php?id=100001583345264">Dan Jones</a>. It is a part of his <a href="https://www.flickr.com/photos/tinkerbots/" target="_blank">Tinkerbot collection</a>. Check it out, it is truly amazing.</li>
				<li>
					<i class="fa fa-angle-right "></i>
					We got the icons that are used on the landing page <a
						href="http://www.cssauthor.com/impicons-modern-flat-style-free-icon-set/">here</a>.
				</li>
				<li>
					<i class="fa fa-angle-rignt"></i>
					 Built using p2pus own Course in a Box. Check it out <a href="http://howto.p2pu.org/">here</a>!
				</li>
			</ul>
		</div>

		<div class="col-md-2">
			<h4>Meta</h4>
			<ul class="footer-links">
				<li>
					<i class="fa fa-angle-right "></i>
					<a href="http://p2pu.org/en/terms/">
						Terms of Use
					</a>
				</li>
				<li>
					<i class="fa fa-angle-right "></i>
					<a href="https://p2pu.org/assets/uploads/P2PUMediaKit.pdf">
						Media Kit
					</a>
				</li>
				<li>
					<i class="fa fa-angle-right "></i>
					<a class="donate" href="https://p2pu.org/en/donate/">
						Donate
					</a>
				</li>
			</ul>
		</div>


		<div class="pull-right col-md-3 cc-by-sa">
			<img src="{{site.baseurl}}{{ site.img }}cc-icons.png" alt="CC-BY-SA Icon">

			<p>
				Unless otherwise noted, the materials on this site are licensed under a
				<a target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0/">
					Creative Commons Attribution Share Alike 4.0</a> Unported license.
			</p>
		</div>

	</div>

</footer>

