<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header pull-right">
			<a href="#" class="navbar-toggle" data-toggle="collapse" data-target="#p2pu-menu">
				<i class="fa fa-bars"></i>
			</a>
		</div>
		<ul class="brand nav navbar-nav pull-left">
			<li>
				<a href="{{ site.baseurl }}/">
					<img src="{{site.baseurl}}{{site.img}}gitp-logo.png" alt="Course Logo" />
				</a>
			</li>
		</ul>
		<div class="collapse navbar-collapse" id="p2pu-menu">
			<ul class="subnav nav navbar-nav">
				{% for module in site.data.course.modules %}
					{{ modsite.categories[module] }}gg
				{% assign first_post = site.categories[module]|reverse|first %}

					<li class="dropdown {% if page.categories[1] == module %}active{% endif %} {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}">
					<a href="{{ site.baseurl }}{{ first_post.url }}"
					   class="dropdown-item"> {{ module }} </a>
				</li>
				{% endfor %}
				<li>
					<a href="http://discourse.p2pu.org/c/gentle-introduction-to-python" target="_blank">Need Help?</a>
				</li>
			</ul>
			<ul class="p2pu-logo hidden-xs hidden-sm">
				<li><a class="p2pu-tab"
				       href="#"><img src="{{ site.baseurl }}{{ site.img }}logo.png" alt="{{ site.title }}" /></a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
<!-- End Navigation -->
