.organize-jumbotron{
	padding: 3em 0;

	background: url("/python-course/assets/img/study_group.jpg") left -235px;
	background-size: cover;

	color: $white;

	.subtitle{
		padding: 1em 0;
		font-size: 2em;
	}

	.btn{
		font-size: 1em;
		font-weight: bold;
	}
}