---
layout: base
---
<!-- Banner -->
<div class="jumbotron">
	<div class="container text-center">
		<div class="moocie col-md-5 col-sm-5">
			<img src="{{site.baseurl}}{{site.img}}mooce-direction.jpg" alt="Mooc-e robot" class="hidden-xs" />
			<img src="{{site.baseurl}}{{site.img}}moocie-mobile.jpg" alt="Mooc-e robot" class="hidden-sm hidden-md hidden-lg"/>
		</div>
		<div class="present col-md-7 col-sm-7 pull-right">
			<header>
				<h3>A comprehensive fast-paced introduction to programing</h3>
				<h1 class="heading">{{ site.data.course.description }}</h1>

				<img class="free-stamp" src="{{site.baseurl}}{{site.img}}free-stamp.png" alt="Free of charge" />
			</header>
		</div>
	</div>
	<div class="signup" id="signup">
		<div class="container">
			<form class="form-inline">
				<div class="form-group">
					<label for="exampleInputEmail2">Email</label> <input type="email" class="form-control col-md-10"
					                                                     id="exampleInputEmail2"
					                                                     placeholder="jane.doe@example.com">
				</div>
				<button type="submit" class="btn btn-info">Send invitation</button>
			</form>
		</div>
	</div>
</div>
<section>
	<div class="container">
		<div class="clearfix">
			<div class="col-md-8 col-md-offset-2">
				<div class="row">
					<div class="faq-icon col-md-4 col-sm-4 col-xs-4">
						<img src="{{site.baseurl}}{{site.img}}clock.png" alt="Clock" />
					</div>

					<div class="faq-q col-md-8 col-sm-8">
						<h2>When does it start?</h2>

						<p>It starts soon. So soon that you need to get your ass in gear and make space in your life for
							some crayz new awesomnes. Stop being a pussy and start learning Pythong nao!</p>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="faq-icon right-align col-md-4 col-sm-4 col-xs-4">
						<img src="{{site.baseurl}}{{site.img}}calendar.png" alt="Calendar" />
					</div>
					<div class="faq-q col-md-8 col-sm-8">
						<h2>How long will it take?</h2>

						<p>It starts soon. So soon that you need to get your ass in gear and make space in your life for
							some crayz new awesomnes. Stop being a pussy and start learning Pythong nao!</p>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="faq-icon col-md-4 col-sm-4 col-xs-4">
						<img src="{{site.baseurl}}{{site.img}}chat.png" alt="Clock" />
					</div>
					<div class="faq-q col-md-8">
						<h2>How will this all go down?</h2>

						<p>It starts soon. So soon that you need to get your ass in gear and make space in your life for
							some crayz new awesomnes. Stop being a pussy and start learning Pythong nao!</p>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="faq-icon right-align col-md-4 col-sm-4 col-xs-4">
						<img src="{{site.baseurl}}{{site.img}}offer.png" alt="Calendar" />
					</div>
					<div class="faq-q col-md-8 col-sm-8">
						<h2>What will I learn?</h2>

						<p>It starts soon. So soon that you need to get your ass in gear and make space in your life for
							some crayz new awesomnes. Stop being a pussy and start learning Pythong nao!</p>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="faq-icon col-md-4 col-sm-4 col-xs-4">
						<img src="{{site.baseurl}}{{site.img}}user.png" alt="Clock" />
					</div>

					<div class="faq-q col-md-8 col-sm-8">
						<h2>Can I do it?</h2>

						<p>It starts soon. So soon that you need to get your ass in gear and make space in your life for
							some crayz new awesomnes. Stop being a pussy and start learning Pythong nao!</p>
					</div>
				</div>

				<hr />
				<div class="row">
					<div class="faq-icon right-align col-md-4 col-sm-4 col-xs-4">
						<img src="{{site.baseurl}}{{site.img}}love.png" alt="Calendar" />
					</div>
					<div class="faq-q col-md-8 col-sm-8">
						<h2>Why should I?</h2>

						<p>It starts soon. So soon that you need to get your ass in gear and make space in your life for
							some crayz new awesomnes. Stop being a pussy and start learning Pythong nao!</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<section>
	<div class="container text-center">
		<a href="#signup" class="btn btn-info btn-lg">
			Signup me up for free
		</a>
	</div>
</section>



